<html>
    <head>
        <title>
            <%= title%>
        </title>
         <link rel="stylesheet" href="/css/home.css" >
          
    </head>
    <body>
        <center>
        <h1> Codial Homepage </h1>
        </center>
        <div id = "home-container">
             <section id="feed-post">
            <h4>
               <% if(locals.user) { %>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="type here.." required> </textarea>
                    <input type="submit" value="post">
                </form>
                <% } %>
            </h4>

            <div id = "post-list-container">
                
                <!-- including partials of _post-display.ejs -->
                <!-- has code to display all post with comments having option to create and delete post and comment -->
                <%- include('_post-display') -%>
                
            </div>
        </section>
        <!-- diplaying friend list  -->
            <section id ="user-friends">
                <h4>Friends</h4>
                <% for (u of all_users) {%>
                <p>
                    <a href="/users/profile/<%= u.id%>"> <%= u.name%>   
                    </a>
                </p>
                <%}%>
            </section>
        </div>
        <script src="/js/home_posts.js"></script>
    </body>
</html>