<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>

    <body>
        <h1> User Sign Up</h1>
        <div>
            <form action="/users/create" method="POST">
            <input type="text" name="name" placeholder="usename" required> <br> <br>
            <input type="email" name="email" placeholder="eamil" required> <br> <br>
            <input type="password" name="password" placeholder="password" required> <br> <br>
            <input type="password" name="confirm_password" placeholder="confirm_password" required> <br> <br>
            <input type="submit" value="Sign Up">
            </form>

            <p> <a href="/users/auth/google"> Google Sign Up </a> </p>
        </div>
    </body>
</html>