#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 20px; }
  #home-container #user-friends {
    margin-left:50%;
    width: 30%;
    padding: 20px;
    border-left: 1px solid lightgrey;
    height: 100%; }

